# Dummy env file values for local development

EMAIL_HOST=mail.3hf.ngo
EMAIL_HOST_USER = info@3hf.ngo
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587


STRIPE_SECRET_KEY=sk_dev_stripe
PAYSTACK_SECRET_KEY=sk_dev_paystack
DOMAIN=http://127.0.0.1:8000
# DOMAIN=https://3hf.ngo

ENVIRONMENT=dev
# ENVIRONMENT=prod

SECRET_KEY=sk_dev_django

CLOUDINARY_CLOUD_NAME=cd_name
CLOUDINARY_API_KEY=api_dev_cd
CLOUDINARY_API_SECRET=sk_dev_cd
