<div class=" rounded-[16px] border-[0.5px] border-[#CDE1F1]">
    <button type="button" class="cursor-pointer show-event-detail" id="show-event-detail"
        data-event-slug="{{ event.slug }}">
        <div class="space-y-[0.7rem] px-[1rem] py-[1rem] font-inter" style="border: 1px solid red;">
            <img src="{{ event.image.url }}" alt="Event Image" class="w-full lg:w[267p] h-[226px] rounded-[24px] object-cover">
            <h2 class="font-inter font-[700] text-[18px] text-left capitalize">{{ event.theme }}</h2>

            <p class="text-text-color text-justify">{{ event.description }}</p>

            <p class="text-[#6D6D6D] font-[700] text-left">{{ event.date }}</p>

        </div>

    </button>
</div>