{% extends '_base.html' %}
{% load static %}

{% block content %}
<main class="mt-[1.5rem] lg:mt-[2rem]" styl="border: 14px solid red;">

    <section class="bg-[#F2F2F2] py-[4rem] px-[1.3rem] md:px-[2rem] lg:px-[5rem] space-y-[2rem]">
        <h2 class="text-[#06589C] text-[28px] font-inter font-[700]">Events</h2>

        <div class="md:grid md:grid-cols-2 lg:grid-cols-4 gap-[2rem] space-y-[1.4rem] md:space-y-0"  styl="border: 1px dashed green;">
            {% for event in concluded_events %}
        
            <div class=" rounded-[16px] border-[0.5px] border-[#CDE1F1]">
                <a href="{{ event.slug }}" class="cursor-pointer" id="">
                    <div class="space-y-[0.7rem] px-[1rem] py-[1rem] font-inter" style="border: 1px solid red;">
                        <img src="{{ event.event.image.url }}" alt="Event Image" class="w-full lg:w-[267p] h-[226px] rounded-[24px] object-cover">
                        <h2 class="font-inter font-[700] text-[18px] text-left capitalize">{{ event.event.theme }}</h2>

                        <p class="text-text-color text-justify">{{ event.event.description }}</p>

                        <p class="text-[#6D6D6D] font-[700] text-left">{{ event.event.date }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}

        </div>

    </section>



</main>

<script src="{% static 'js/eventDetails.js' %}"></script>

{% include '_footer.html' %}
{% endblock content %}