<form method="post" class="space-y-[1.3rem]" id="contact-us-form" styl="border: 4px dashed blue;"
>
    {% csrf_token %}

    <p class="hidden text-red-600 text-[1.4rem]" id="contact-form-error">Please enter the needed field(s)</p>

    <div class="space-y-[0.6rem] " styl="border: 4px solid red;">
        <label for="id_name" class="block text-[#344054] text-[22px]">Full name</label>
        <input type="text" id="id_name" class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]"
            name="name" placeholder="Full name">
    </div>

    <div class="space-y-[0.6rem]">
        <label for="id_email" class="block text-[#344054] text-[22px]">Email</label>
        <input type="text" id="id_email" class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]"
            name="email" placeholder="Example@xyz.com">
    </div>

    <div class="space-y-[0.6rem]">
        <label for="id_phone_number" class="block text-[#344054] text-[22px]">Phone number</label>
        <input type="text" id="id_phone_number"
            class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]" name="phone_number"
            placeholder="+234 70 4589 751">
    </div>

    <div class="space-y-[0.6rem]">
        <label for="id_message" class="block text-[#344054] text-[22px]">Message</label>
        <textarea id="id_message" class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] resize-none" name="message"
            cols="30" rows="7" placeholder="Leave us a message"></textarea>
    </div>

    <button type="submit" id="contact-form-button" class="bg-[#076ABB] w-full px-[20px] py-[12px] text-white font-bold rounded-[8px]">
        Send Message</button>
</form>

<script src="/static/js/validateContactForm.js"></script>