{% extends "_base.html" %}

{% load static %}
{% block title %} Heart and Hands Humanitarian Foundation - About Us {% endblock title %}
{% block content %}

<main>
    <section class="relative">
        <img src="{% static 'heartsandhands/media/about_us/about_us.png' %}"
            class="w-full h-[404px] md:h[350px] md:h-auto object-cover" alt="">

        <div class="absolute top-[30%] mdLg:top-[10%] xl:top-[30%] left-[7%] mdLg:left-[25%] w-[90%] mdLg:w-[50%] space-y-[1rem] text-center"
            styl="border: 4px dotted beige;">
            <h2 class="text-center text-[#FFFFFF] text-[40px] mdLg:text-[64px] font-delaGothic">About Us</h2>

            <p class="font-inter text-[16px] mdLg:text-[20px] text-white">
                HEARTS AND HANDS HUMANITARIAN FOUNDATION is a dedicated organization committed to transforming lives
                through a multi-faceted approach that addresses child protection, community empowerment, social justice,
                climate change, livelihood support, health services, case management, and psychosocial support.
            </p>

        </div>
    </section>

    <section class="lgXl:flex lgXl:justify-around py-[3rem] lg:py-[6rem] px-[1rem] md:pl-0 md:pr-[5rem]">
        <div class="md:basis-[45%] space-y-[1rem] md:space-y-[2.3rem] md:pl-[4rem]">
            <h3 class="font-delaGothic font-[400] text-[24px] mdLg:text-[32px] text-center lgXl:text-left">
                How we started
            </h3>

            <p class="text-[18px] text-text-color font-inter">
                Mrs. Catherine Ogbizi-Ugbe is a dedicated philanthropist and the visionary founder of the Hearts and
                Hands
                Humanitarian Foundation. With an unwavering commitment to improving the lives of vulnerable
                children across Nigeria, Mrs. Ogbizi-Ugbe has made a significant impact on communities through her
                compassionate initiatives and tireless advocacy.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                Recognizing the dire needs of children affected by child labor and those vulnerable to substance
                abuse, Mrs. Ogbizi-Ugbe spearheaded intensive rehabilitation programs aimed at offering these young
                individuals a chance at a better future. Her efforts in this area have transformed the lives of
                countless
                children, providing them with the support and resources necessary to overcome their challenges and
                thrive.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                Leveraging the platform of the Police Officers Wives Association (POWA), Mrs. Ogbizi-Ugbe has
                implemented numerous community activities across various states in Nigeria. With the steadfast
                support of the Nigerian Police Force and various state governments, she has been able to extend her
                humanitarian outreach to a broader audience, ensuring that her initiatives reach those who need
                them the most.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                One of Mrs. Ogbizi-Ugbe's remarkable achievements is the establishment of scholarship programs that have
                benefitted over 100 less-privileged and vulnerable children. By providing access to education, she has
                opened doors to opportunities that would otherwise be out of reach for these young minds,
                empowering them to break the cycle of poverty and build brighter futures.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                A staunch advocate against human trafficking, Mrs. Ogbizi-Ugbe has also played a pivotal role in
                combating the endemic of baby factories and the exploitation of children as laborers. Her relentless
                fight against these heinous practices has led to significant strides in protecting children's rights and
                ensuring their safety. Through her work with the Nigerian Police Force, she has helped secure justice
                for victims and hold perpetrators accountable.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                Mrs. Ogbizi-Ugbe's dedication to humanitarian causes extends beyond specific projects; she is deeply
                committed to promoting social justice, child protection, and socioeconomic equality. She believes in
                the inherent worth and dignity of every child and works tirelessly to create a society where every
                child can live free from exploitation and have equal opportunities to succeed.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                Her humanitarian activities have had a profound impact in the southwest, south-south, and north-central
                parts of Nigeria, where her efforts have been met with gratitude and support from the communities she
                serves.
                Mrs. Ogbizi-Ugbe's work exemplifies the core values of the Hearts and Hands Humanitarian Foundation:
                compassion, justice, and the unwavering belief in the potential of every child.
                Her actions have inspired the organization to give back and alleviate the suffering of vulnerable
                people, reinforcing our commitment to making a meaningful difference in the lives of those we serve.
            </p>

            <p class="text-[18px] text-text-color font-inter">
                As we continue to expand our initiatives and reach more vulnerable children, we draw inspiration
                from Mrs. Catherine Ogbizi-Ugbe's unwavering dedication and visionary leadership. Her legacy is one of
                hope, resilience, and positive change, and we are honored to carry forward her mission of creating a
                brighter, more equitable future for all children in Nigeria.
            </p>

            <br>
            <img src="{% static 'heartsandhands/media/about_us/kids_in_class.png' %}" alt="" class="block basis-[35%]">
            <br>

            <h3 class="font-delaGothic font-[400] text-[24px] mdLg:text-[32px] text-center lgXl:text-left">Why we do
                what we do</h3>

            <p class="text-[18px] text-text-color font-inter">
                Founded on the principles of compassion and service, we strive to provide humanitarian aid, empower
                youth, and promote skill development in rural areas.
            </p>

            <p class="text-[18px] text-text-color font-inter" styl="border: 2px solid firebrick;">
                Collaborating with volunteers and supporters, we work tirelessly to identify and celebrate individuals
                with talents and exemplary leadership qualities, offering them the guidance and resources they need to
                thrive. Join us in our mission to create a brighter, more inclusive future for all.
            </p>
        </div>
    </section>

    <section class="bg-[#F2F2F2] px-[1rem] md:px-[4rem py-[3.7rem] md:py-[4.9rem] lg:py-[6rem]">
        <div class="space-y-[3.4rem]">
            <div class="space-y-[1rem]">
                <h2 class="text-center text-[#111111] text-[40px] font-delaGothic font-[400]">The Team</h2>

                <p class="text-center text-[#484848] text-[19px] md:text-[18px] md:w-[65%] md:mx-auto"
                    styl="border: 1px dotted blu;">
                    The heart of the foundation is our dedicated team. Each member brings unique skills and a passion
                    for empowering the less privileged and vulnerable. Together, we drive our mission forward, creating
                    a brighter future for all.

                </p>
            </div>

            <div class="md:w-[98%] lg:w-[93%] 2xl:w[89%] mx-auto md:grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols4
             justify-items-center space-y-[2.5rem] md:space-y-0 md:gap-[2rem] lg:gap-[3rem]">
                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/catherine_ugbe.jpg' %}"
                        alt="Catherine Ogbizi, Founder" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">Dr. Catherine Ogbizi</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">Executive Director / Founder</p>
                    </div>
                </div>

                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/precious_ogbizi.jpg' %}"
                        alt="Precious Ogbizi, Executive Director" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">Precious Ogbizi</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">Research Director / Disaster Manager</p>
                    </div>
                </div>

                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/emmanuel_ogbizi.jpg' %}"
                        alt="Emmanuel Ogbizi, ICT Director" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">Emmanuel Ogbizi</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">ICT Director</p>
                    </div>
                </div>

                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/john_kedang.png' %}"
                        alt="John Kedang, Program Manager" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">John Kedang</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">Program Manager / Team Lead</p>
                    </div>
                </div>

                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/favour_udeh.jpg' %}"
                        alt="Favour Udeh, Communication Officer" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">Favour Udeh</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">Communication/Advocacy Officer</p>
                    </div>
                </div>

                <div class="space-y-[0.7rem]">
                    <img src="{% static 'heartsandhands/media/about_us/deborah_chinyere.jpg' %}"
                        alt="Deborah Chinyere, Program Advisor" class="rounded-[16px] md:w-[292px] md:h-[292px]">

                    <div class="space-y-[0.22rem]">
                        <p class="font-delaGothic text-[20px] font-[400]">Deborah Chinyere</p>
                        <p class="text-[17px] text-[#076ABB] font-inter">Program Manager</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

{% include '_footer.html' %}

{% endblock content %}
