{% extends "_base.html" %}

{% load static %}}

{% block content %}

<main>
    <!-- <section style="background-image: url('{% static '/heartsandhands/media/about_us/about_us.png' %} ')" ;
        class="bg-cover bg-cente bg-no-repeat h-[20rem] text-center">
        <div class="d">
            <h2>About Us</h2>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid quidem
                ex temporibus quas nisi enim aspernatur? Voluptatum dolorum deleniti expedita placeat hic,
                natus molestias ea, voluptatem, recusandae accusamus nostrum.
            </p>
        </div>
    </section> -->

    <section class="relative" styl="border: 3px solid red;">
        <img src="{% static '/heartsandhands/media/about_us/about_us.png' %}" class="w-full" alt="">

        <div class="absolute top-[30%] left-[25%] w-[50%] space-y-[1rem]" styl="border: 2px dotted beige;">
            <h2 class="text-center text-[#FFFFFF] text-[64px]">About Us</h2>

            <p class="text-[20px] text-[#FFFFFF] font-inter">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid quidem
                ex temporibus quas nisi enim aspernatur? Voluptatum dolorum deleniti expedita placeat hic,
                natus molestias ea, voluptatem, recusandae accusamus nostrum.
            </p>
        </div>
    </section>
</main>

{% endblock content %}