{% extends "_base.html" %}

{% load static %}}

{% block content %}

<main>
    <!-- <section style="background-image: url('{% static '/heartsandhands/media/about_us/about_us.png' %} ')" ;
        class="bg-cover bg-cente bg-no-repeat h-[20rem] text-center">
        <div class="d">
            <h2>About Us</h2>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid quidem
                ex temporibus quas nisi enim aspernatur? Voluptatum dolorum deleniti expedita placeat hic,
                natus molestias ea, voluptatem, recusandae accusamus nostrum.
            </p>
        </div>
    </section> -->

    <section class="relative" styl="border: 3px solid red;">
        <img src="{% static '/heartsandhands/media/about_us/about_us.png' %}" class="w-full" alt="">

        <div class="absolute top-[30%] left-[25%] w-[50%] space-y-[1rem]" styl="border: 2px dotted beige;">
            <h2 class="text-center text-[#FFFFFF] text-[64px] font-delaGothic">About Us</h2>

            <p class="text-[20px] text-[#FFFFFF] font-inter">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid quidem
                ex temporibus quas nisi enim aspernatur? Voluptatum dolorum deleniti expedita placeat hic,
                natus molestias ea, voluptatem, recusandae accusamus nostrum.
            </p>
        </div>
    </section>

    <section class="flex justify-around py-[6rem] pr-[5rem]" style="border: 4px solid yellow;">
        <div class="basis-[45%] space-y-[2.3rem] pl-[4rem]" styl="border: 4px dotted gray;">
            <h3 class="font-delaGothic font-[400] text-[32px]">Why we do what we do</h3>

            <p class="text-[18px]  text-text-color">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus risus
                rhoncus
                et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus nunc
                eleifend a. Curabitur viverra egestas metus vel congue. Nunc nisl lectus, interdum vel ex at, pharetra
                cursus risus.
            </p>

            <p class="text-[18px] text-text-color" styl="border: 2px solid firebrick;">

                Curabitur porttitor posuere arcu, vitae varius justo lobortis id. Donec mollis rhoncus libero vel
                aliquam.
                Pellentesque in urna massa. Nunc id dui nec nibh eleifend condimentum sit amet eget mauris.
            </p>
        </div>

        <img src="{% static '/heartsandhands/media/about_us/kids_in_class.png' %}" alt=""
        class="basis-[35%]"
        styl="border: 2px solid black;"
        >
    </section>
</main>

{% endblock content %}