{% extends "_base.html" %}

{% load static %}

{% block content %}


<main class="my-[7rem]">
    <section class="space-y-[4rem]">
        <div class="space-y-[1rem]">
            <h3 class="font-bold text-[32px]">Reach Out</h3>

            <p class="text-text-color text-[20px]">
                Got questions about our cause?
                Want to partner with us to make a difference? Let's hear from you!
            </p>
        </div>

        <form action="">
            <div class="">
                <label for="" class="block">Full name</label>
                <input type="text" class="border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]" name="fullName"
                    placeholder="Full name">

            </div>

            <div class="">
                <label for="" class="block">Email</label>
                <input 
                type="text" 
                class="border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]" 
                name="email" 
                placeholder="Example@xyz.com">

            </div>

            <div class="">
                <label for="" class="block">Phone number</label>
                <input 
                type="text" 
                class="border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]"
                name="phoneNumber" 
                placeholder="+234 70 4589 751">

            </div>

            <div class="">
                <label for="" class="block">Message</label>
                <textarea 
                class="border-[1px] border-[#D0D5DD] rounded-[8px]"
                name="" id="" 
                cols="30" 
                rows="10" 
                placeholder="Leave us a message">
            </textarea>

            </div>

            <button type="submit">send message</button>
        </form>
    </section>
</main>


{% include '_footer.html' %}
{% endblock content %}