{% extends "_base.html" %}

{% load static %}

{% block content %}


<main>
    <section class="">
        <div class="">
            <h3>reach out</h3>

            <p>
                Got questions about our cause?
                Want to partner with us to make a difference? Let's hear from you!
            </p>
        </div>
        <form action="">
            <div class="">
                <label for="">Full name</label>
                <input type="text" class="" name="fullName">

            </div>

            <div class="">
                <label for="">Email</label>
                <input type="text" class="" name="email">

            </div>

            <div class="">
                <label for="">Phone number</label>
                <input type="text" class="" name="phoneNumber">

            </div>

            <div class="">
                <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>

            </div>

            <button type="submit">send message</button>
        </form>
    </section>
</main>


{% include '_footer.html' %}
{% endblock content %}