{% extends '_base.html' %}
{% load static %}
{% block title %} Heart and Hands Humanitarian Foundation - Donate {% endblock title %}
{% block content %}

<main class="mt-0 md:mt-[3rem] mdLg:mt-[1rem]">
    <section class="lg:flex relative px-[1rem] md:px-[3rem] lg:pl-[1.5rem] xl:pl-[2rem]
    py-[3rem] md:py-[4rem] bg-[#F2F2F2] space-y-[2rem] lg:space-y-0" styl="border: 4px solid yellowgreen;">

        <div class="lg:basis-[45%] space-y-[1.2rem] md:pr-[4rem] lg:pr-0" styl="border: 2px dashed black;">
            <h2 class="text-[40px] lg:text-[54px] font-delaGothic font-[400] leading-[2.9rem] lg:leading-[4rem]">Donate
                to Support Our Mission</h2>

            <p class="text-text-color text-[18px]">For more information about our organization, volunteering
                opportunities, or how to donate, please contact us through our website or reach out to our dedicated
                team. Together, we can make a difference and create a brighter future for all.
            </p>
        </div>


        <div class="lg:absolute lg:right-[1.5rem] lg:top-[4.7rem] xl:right-[4rem] lg:bottom-[-2rem] h-max
        space-y[1rem] lg:w-[609px] basis-[49%] bg-[#FFFFFF] border-[1px] border-[#D9D9D9]
        rounded-[16px] px-[0.7rem] md:px-[8rem] lg:px-[2rem] py-[2.3rem]" styl="border: 3px solid saddlebrown;">
            {% if error %}
            {{ error }}

            {% endif %}
            <div class="flex flex-col mdLg:flex-row gap-[1.2rem] justify-between" styl="border: 3px solid gray;">
                <button type="button" id="show-paystack-form"
                    class="w-full border-[1px] border-[#2b599c] rounded-[8px] px-[15px] py-[16px]"
                    onclick="showPaystackForm()">
                    Donate with
                    <img class="inline" src="{% static 'heartsandhands/media/donate/paystack_logo.png' %}"
                        alt="paystack logo">

                    <img src="{% static 'heartsandhands/media/donate/paystack.png' %}" class="inline" alt="">
                </button>

                <button type="button" id="show-stripe-form"
                    class="w-full border-[1px] border-[#DFDFDF] rounded-[8px] px-[32px] py-[16px]"
                    onclick="showStripeForm()">
                    Donate with <img class="inline" src="{% static 'heartsandhands/media/donate/stripe_logo.png' %}"
                        alt="stripe logo">
                </button>
            </div>

            <div class="mt-[1.55rem] font-inter">
                <form id="paystack-form" method="post" class="space-y-[1rem font-inter"
                    styl="border: 3px dotted rebeccapurple;">
                    {% csrf_token %}
                    <p id="paystack-form-error" class="text-red-600"></p>


                    <div class="space-y-[1.2rem]" id="">
                        <input type="radio" id="payment_gateway" name="payment_gateway" value="paystack" checked
                            class="hidden">

                        <input type="text" name="amount" id="amount" placeholder="Enter amount" required
                            class="border-[1px] border-[#DFDFDF] w-full h-[52px] py-[16px] px-[32px] rounded-[8px]">

                        <input type="email" name="email" id="email" placeholder="Your email" required
                            class="border-[1px] border-[#DFDFDF] w-full h-[52px] py-[16px] px-[32px] rounded-[8px]">

                        <select name="currency" id="currency"
                            class="border-[1px] border-[#DFDFDF] w-full h-[52px] py-[16px] px-[32px] rounded-[8px]">
                            <option value="NGN" selected>Naira</option>
                            <!-- <option value="GHS">Cedis</option> -->
                        </select>
                    </div>

                    <button type="submit" id="checkout-button" class="w-full lg:w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[32px] py-[10px] bg-[#3083C6]
                    text-white text-[1.4rem] font-[700] font-inter mt-[2rem]"
                        onclick="event.preventDefault();  payWithPaystack()">
                        Proceed
                    </button>
                </form>


                <form action="{% url 'donate' %}" id="stripe-form" method="post" class="hidden space-y-[1.5rem]"
                    styl="border: 3px dotted rebeccapurple;">
                    <p id="stripe-form-error" class="text-red-600"></p>
                    {% csrf_token %}
                    <input type="text" name="amount" id="stripe-amount" placeholder="Enter amount" required
                        class="border-[1px] border-[#DFDFDF] w-full h-[52px] py-[16px] px-[32px] rounded-[8px]">

                    <select name="currency" id="currency"
                        class="border-[1px] border-[#DFDFDF] w-full h-[52px] py-[16px] px-[32px] rounded-[8px]">
                        <option value="USD" selected>USD</option>
                        <!-- <option value="GHS">Cedis</option> -->
                    </select>

                    <input type="radio" id="payment_gateway" name="payment_gateway" value="stripe" checked
                        class="hidden">

                    <button type="submit" id="checkout-button" class="w-full lg:w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[22px] py-[10px] bg-[#3083C6]
                text-white text-[1.4rem] font-[700] font-inter" onclick="validateStripeForm(event)">
                        Proceed
                    </button>
                </form>
            </div>
            <div class="text-center mt-[3rem] font-inter">
                <img src="{% static 'heartsandhands/media/donate/shieldcheck.png' %}" alt="" class="inline">
                <span>Your information is protected</span>
            </div>
        </div>


    </section>

    <img src="{% static 'heartsandhands/media/donate/kids.png' %}" class="hidden lg:block w-full" alt="">

</main>

{% include '_footer.html' %}
<script src="/static/js/donation.js" async></script>
<script src="https://js.paystack.co/v1/inline.js" async></script>
<script src="https://js.stripe.com/v3/" async></script>


{% endblock content %}
