{% extends '_base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="lg:flex relative px-[1rem] md:px-[3rem] lg:pl-[1.5rem] xl:pl-[10rem] 
    py-[3rem] md:py-[4rem] bg-[#F2F2F2] space-y-[3.8rem]" styl="border: 4px solid yellowgreen;">

        <div class="lg:basis-[45%]  space-y-[1.2rem]" styl="border: 2px dashed black;">

            <h2 class="text-[40px] lg:text-[54px] font-delaGothic font-[400] leading-[2.9rem] lg:leading-[4rem]">Donate
                to Support Our Mission</h2>

            <p class="text-text-color text-[18px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus
                rhoncus neque, eget dapibus risus
                rhoncus
                et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus nunc
                eleifend a. Curabitur viverra
            </p>
        </div>


        <div class="lg:absolute lg:right-[1.5rem] xl:right-[7rem] lg:bottom-[-2rem] h-[296.16px]
         lg:w-[589px] basis-[40%] bg-[#FFFFFF] border-[1px] border-soli border-[#D9D9D9] rounded-[16px] px-[2rem] py-[2.3rem]"
            styl="border: 3px solid saddlebrown;">
        {% if error %}
        {{ error }}

        {% endif %}

            <button type="button" class="w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[22px] py-[16px]"
            onclick="showPaystackForm()">
                Donate with  
                <img class="inline" src="{% static '/heartsandhands/media/donate/paystack_logo.png' %}"
                alt="paystack logo">

                <img src="{% static '/heartsandhands/media/donate/paystack.png' %}" class="inline" alt="">
                <!-- <span class="text-[#011B33] w-[88.36px]"> paystack </span> -->
            </button>

            <button type="button" class="w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[32px] py-[16px]"
            onclick="showStripeForm()">
                Donate with <img class="inline" src="{% static '/heartsandhands/media/donate/stripe_logo.png' %}"
                    alt="stripe logo">
            </button>

            <form id="paystack-form" action="{% url 'donate' %}" method="post" class="">
                {% csrf_token %}

                <div class="" id="">
                    <input type="radio" id="payment_gateway" name="payment_gateway" value="paystack" checked
                        class="hidden"
                        >
                    <input type="text" name="amount" id="amount" placeholder="Enter amount" required>
                        <input type="email" name="email" id="email" class="block" placeholder="Your email" required>

                        <select name="currency" id="" class="block">
                            <option value="NGN" selected>Naira</option>
                            <option value="GHS">Cedis</option>
                        </select>
                </div>
                
                <button type="submit" id="checkout-button"
                    class="w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[32px] py-[16px]">
                    Proceed
                </button>
            </form>
          

            <form action="{% url 'donate' %}" id="stripe-form" method="post" class="hidden">
                {% csrf_token %}
                <input type="text" name="amount" id="amount" placeholder="Enter amount" required>
                <input type="radio" id="payment_gateway" name="payment_gateway" value="stripe" checked
                class="hidden">
               
                <button type="submit" id="checkout-button"
                class="w-[254px] border-[1px] border-[#DFDFDF] rounded-[8px] px-[32px] py-[16px]">
                Proceed
            </button>
            </form>
        </div>
    </section>

    <img src="{% static '/heartsandhands/media/donate/kids.png' %}" class="hidden lg:block w-full" alt="">

</main>

{% include '_footer.html' %}
<script src="/static/js/donation.js"></script>

{% endblock content %}