{% extends '_base.html' %}
{% load static %}

{% block content %}

<main class="pt-[2rem] md:pt-[6rem]" styl="border: 2px dashed orange;">
    <section class="lg:flex lg:justify-between font-inter md:space-y-[2.3rem] lg:space-y-0"
        styl="border: 2px dashed black;">
        <div class="div-1 basis-[50%] order-last" styl="border: 3px solid red;">
            <img src="{% static 'heartsandhands/media/home/faces_of_children_cropped.png' %}" alt="faces of children"
                class="lg:hidden w-full lg:float-right">

            <img src="{% static 'heartsandhands/media/home/faces_of_children.png' %}" alt="faces of children" class="hidden lg:block lg:w[500px] xl:w-[700px] lg:h-[510px]
                lg:float-right">
        </div>

        <div class="div-2 lg:basis-[45%] md:px-[4rem] lg:pr-0 lg:pl-[2rem] xl:pl-[10rem] px-[1.5rem] pt-[2.4rem]
         space-y-[2rem]" styl="border: 3px solid blue;">
            <h2 class="capitaliz font-[400] text-[2.7rem] leading-[3.3rem] font-delaGothic">
                Intro
            </h2>

            <p class="mt-[1rem] leading-[1.9rem]">HEARTS AND HANDS HUMANITARIAN FOUNDATION is a non-profit,
                non-political organization dedicated to providing humanitarian services to the less privileged and
                vulnerable individuals. Governed by a constitution, we aim to empower youth, promote skill development,
                and support those with exemplary leadership qualities.
            </p>

            <a href="{% url 'donate' %}" class="block bg-[#076ABB] text-white text-center font-[600] mt[1.2rem]
                 rounded-[40px] w-[200px] py-[1rem]" style="border: 1px dotted green;">Make a donation</a>
        </div>

    </section>

    <section class="pt-[4rem] pb-[2.5rem] md:py-[4.4rem] px-[1.5rem] md:px-16 space-y-8"
        styl="border: 3px dotted gray;">
        <h3 class="text-[#076ABB] text-[20px] font-semibold">Impact</h3>

        <p class="text-[#6D6D6D]">
            Our programs have rescued children from harmful situations, empowered communities to overcome poverty, and supported individuals in their journey towards recovery and self-reliance.
        </p>

        <div class="md:flex md:justify-between space-y-[2rem] md:space-y-0" styl="border: 3px dotted forestgreen;">
            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]"
                styl="border: 3px solid greenyellow;">
                <h2 class="font-extrabold text-[72px]">20</h2>
                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">Scholarships</h3>

                <p class="text-[#6D6D6D]">
                    Scholarships at various institutional levels combined with of over 100 youth rehabilitated.
                </p>
            </div>

            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]" styl="border: 3px solid red;">
                <h2 class="font-extrabold text-[72px]">8</h2>

                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">Medical Missions</h3>

                <p class="text-[#6D6D6D]">
                    Distributed across local communities and African countries.
                </p>
            </div>

            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]" styl="border: 3px solid blue;">
                <h2 class="font-extrabold text-[72px]">200</h2>

                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">Community Employment</h3>

                <p class=" text-[#6D6D6D]">
                    With 8 Families Empowered and grass roots community employment opportunities
                </p>
            </div>
        </div>
    </section>

    <section class="lg:flex lg:justify-between h-[44.3rem]  sm:h-[33rem] lg:h-[38rem] xl:h-[45rem] bg-[#EEF7FE]
    pb-[2rem] md:pt-[3rem] lg:pt-[5rem] font-inter relative mb-[1rem]">
        <div class="lg:basis-[40%] lg:relative h-max" styl="border: 5px solid black;">
            <img src="{% static 'heartsandhands/media/home/rectangle_5745.png' %}" alt=""
                class="w-[144px] md:w-[251px]">
            <img src="{% static 'heartsandhands/media/home/rectangle_5744.png' %}" alt="hands holding love"
                class="hidden lg:block lg:w-[550px] xl:w-[750px] lg:h-[400px] xl:h-[550px] lg:absolute top-[10px] left-[9px]">
        </div>

        <div class="lg:basis[56%] lg:basis-[56%] 2xl:basis-[50%] px-[1rem] md:px-[4rem] lg:px-[2.5rem]
         2xl:pr-[8rem] lg:pt-[2rem] space-y-[2rem] absolute lg:static top-[2rem] md:top-[7rem] lg:top[4rem]"
            styl="border: 5px solid red;">
            <h2 class="text-[40px] xl:text-[64px] font-delaGothic font-[400]
            leading-[3.3rem] xl:leading-[4.4rem]">
                Mission and Vision at Hearts & Hands Humanitarian Foundation
            </h2>

            <p class="text-[#6D6D6D] text-[16px]">
                Our mission is to create a safe, just, and sustainable environment for vulnerable populations,
                particularly children, by providing comprehensive support and advocating for systemic change.

            </p>

            <p class="text-[#6D6D6D] text-[16px]">
                We envision a world where every child is protected, every community is empowered, and
                every individual has the opportunity to thrive in a just and sustainable environment.
            </p>
        </div>

    </section>


    <section class="pt-[1.2rem] md:pt-[3rem] pb-[5rem] font-inter space-y-[3rem]" styl="border: 2px solid black;">
        <div class="mdtext-center">
            <h2 class="text-center text-[32px] md:text-[64px] font-bold">How to Support</h2>
            <p class="text-text-color md:text-center px-[1rem] text-justify mdLg:px-[13rem]"
                styl="border: 2px dotted red;">
                Join us in making a difference. Whether through donations, volunteering, or partnerships with
                our projects aimed at youth empowerment, skill development, and education.

                <span class="hidden mdLg:inline">
                    Your support is crucial in helping us achieve our mission and vision.
                </span>
            </p>
        </div>

        <div class="space-y-[3rem] md:space-y-0 px-[1.3rem] lg:px-[5rem] 2xl:px-[12rem] md:flex
        md:justify-between md:gap-[1.4rem] lg:gap-[3rem]" styl="border: 2px solid red;">
            <div class="volunteer md:relative px-[0.9rem] py-[16px] space-y-[1.3rem] border-[0.5px] border-[#C4C4C4]
                rounded-[16px] md:basis-[50%] xl:basis-[47%] md:h-[530px]  mdLg:h-[460px]">
                <img src="{% static 'heartsandhands/media/home/handshake.png' %}" alt="">
                <h4 class="text-[32px] font-[700]">Volunteer</h4>

                <p class="text-text-color leading-[2rem]">
                    Volunteer with us to make a difference in the lives of the less privileged and vulnerable
                    individuals. Your time and expertise can help in mentoring youth, providing educational support, and
                    implementing humanitarian projects. Join us in building a better community together.

                </p>

                <a href="{% url 'contact_us' %}" class="block border-[0.5px] border-[#C4C4C4] rounded-[8px] text-center font-[500] text-#00000 py-[16px]
                    md:absolute md:bottom-[30px] md:left-[20px] md:w-[92%]">
                    Sign up to Volunteer
                </a>
            </div>

            <div class="donations md:relative px-[0.9rem] py-[16px] space-y-[1.3rem] border-[0.5px] border-[#C4C4C4] rounded-[16px]
                md:basis-[50%] xl:basis-[47%] md:h-[530px] mdLg:h-[460px]">
                <img src="{% static 'heartsandhands/media/home/donate.png' %}" alt="">

                <h4 class="text-[32px] font-[700]">Donations</h4>

                <p class="text-text-color leading-[2rem]">
                    Your donations play a crucial role in supporting our initiatives to empower youth, provide
                    humanitarian aid, and promote skill development. Every contribution helps us reach more individuals
                    in need and create a lasting impact on their lives.
                </p>

                <a href="{% url 'donate' %}" class="block bg-[#076ABB] border-[0.5px] border-[#C4C4C4] rounded-[8px] text-center font-[500]
                    text-#00000 text-white py-[16px] md:absolute md:bottom-[30px] md:left-[20px] md:w-[92%] ">
                    Donate
                </a>
            </div>
        </div>
    </section>

    <section class="lg:flex lg:justify-between bg-[#EEF7FE]
    pb-[5rem] md:pt-[3rem] lg:pt-[5rem] font-inter relative" style="border-bottom: solid 2px #076abb;">
        <div class="px-[1rem] md:px-[4rem] lg:px-[2.5rem]
         2xl:pr-[8rem] space-y-[2rem] absolute lg:static top-[2rem] md:top-[7rem] lg:top[4rem]"
            styl="border: 5px solid red;">
            <h2 class="text-[40px] xl:text-[64px] font-delaGothic font-[400]
            leading-[3.3rem] xl:leading-[4.4rem]">
                Partner Organizations
            </h2>

            <div class="md:w-[98%] lg:w-[93%] xl:w[89%] mx-auto md:grid md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4
             justify-items-center space-y-[2.5rem] md:space-y-0 md:gap-[2rem] lg:gap-[3rem]" style="grid-template-columns: repeat(8, minmax(0, 1fr))">
                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: white;">
                    <img src="{% static 'heartsandhands/media/home/partners/ccfn.jpeg' %}" alt="Caritas" title="Caritas" style="max-height: 100%;">
                </div>

                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: linear-gradient(0deg, #fef100 25%, #52b64a 75%);">
                    <img src="{% static 'heartsandhands/media/home/partners/maejt.jpeg' %}" alt="African Movement of Working Children and Youth" title="African Movement of Working Children and Youth" style="max-height: 100%;">
                </div>

                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: white;">
                    <img src="{% static 'heartsandhands/media/home/partners/nis.jpeg' %}" alt="Nigerian Immigration Service" title="Nigerian Immigration Service" style="max-height: 100%;">
                </div>

                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: black;">
                    <img src="{% static 'heartsandhands/media/home/partners/npsc.jpeg' %}" alt="Nigerian Police Service Commission" title="Nigerian Police Service Commission" style="max-height: 100%;">
                </div>

                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: white;">
                    <img src="{% static 'heartsandhands/media/home/partners/redcross.png' %}" alt="Red Cross Organisation" title="Red Cross Organisation" style="max-height: 100%;">
                </div>

                <div class="space-y-[0.7rem] lg:flex rounded-[16px] md:w-[92px]" style="align-items: center; justify-content: center; padding: 8px; aspect-ratio: 1/1; background: white;">
                    <img src="{% static 'heartsandhands/media/home/partners/unhcr.png' %}" alt="United Nations High Commision Refugees" title="United Nations High Commision Refugees" style="max-height: 80%;">
                </div>
            </div>
        </div>

    </section>

    <section class="lg:flex lg:justify-between mdLg:px-[7rem] lg:px-0 bg-[#f2f2f2] font-inter"
        styl="border: 4px dotted blue;">
        <div class="lg:basis-[55%] xl:basis-[50%] md:px-[2.4rem] lg:pl-[0.4rem] 2xl:px-[5rem] py-[1.9rem] md:py-[2.6rem]"
            styl="border: 3px solid red;">
            <div class="mx-auto w-[90%]" styl="border: 3px solid yellow;">

                <h2 class="text-[32px] font-delaGothic">Contact Us</h2>
                <p class="text-[16px] text-text-color">
                    For more information about our organization, volunteering opportunities, or how to donate, please
                    contact us through our website or reach out to our dedicated team. Together, we can make a
                    difference and create a brighter future for all.
                </p>

                <div class="mt-[2.5rem]">
                    {% include 'heartsandhands/_contact_form.html' %}
                </div>

            </div>
        </div>

        <img src="{% static 'heartsandhands/media/home/phone.png' %}" alt=""
            class="lg:basis-[40% xl:basis-[50% w-[620px] 2xl:w-[820px] hidden lg:block">
    </section>
</main>


{% include '_footer.html' %}

{% endblock content %}
