{% extends '_base.html' %}
{% load static %}


{% block content %}

<main class="pt-[2rem] md:pt-[6rem]" styl="border: 2px dashed orange;">
    <section class="lg:flex lg:justify-between font-inter md:space-y-[2.3rem] lg:space-y-0" 
    styl="border: 2px dashed black;">
        <div class="div-1 basis-[50%] order-last" styl="border: 3px solid red;">
            <img src="{% static '/heartsandhands/media/home/faces_of_children.png' %}" alt="faces of children"
                class="w-full lg:w[500px] xl:w-[700px] lg:h-[510px] 
                lg:float-right">
        </div>

        <div class="div-2 lg:basis-[45%] md:px-[4rem] lg:pr-0 lg:pl-[2rem] xl:pl-[10rem] px-[1.5rem] pt-[2.4rem]
         space-y-[2rem]"
            styl="border: 3px solid blue;">
            <h2 class="capitaliz font-[400] text-[2.7rem] leading-[3.3rem] font-delaGothic">
                Lorem ipsum dolor sit amet
            </h2>

            <p class="mt-[1rem] leading-[1.9rem]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus
                rhoncus neque, eget
                dapibus risus
                rhoncus
                et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus nunc
                eleifend a. Curabitur viverra egestas metus vel congue.
            </p>

            <a href="{% url 'donate' %}"
                class="block bg-[#076ABB] text-white text-center font-[600] mt[1.2rem]
                 rounded-[40px] w-[200px] py-[1rem]"
                style="border: 1px dotted green;">Make a donation</a>
        </div>

    </section>

    <section class="pt-[4rem] pb-[2.5rem] md:py-[4.4rem] px-[1.5rem] md:px-16 space-y-8"
        styl="border: 3px dotted gray;">
        <h3 class="text-[#076ABB] text-[20px] font-semibold">OUR WORK SPEAKS...</h3>

        <div class="md:flex md:justify-between space-y-[2rem] md:space-y-0" styl="border: 3px dotted forestgreen;">
            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]"
                styl="border: 3px solid greenyellow;">
                <h2 class="font-extrabold text-[72px]">400</h2>
                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">kids enrolled in school</h3>

                <p class="text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et.
                </p>
            </div>

            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]" styl="border: 3px solid red;">
                <h2 class="font-extrabold text-[72px]">8x</h2>

                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">rural communities covered</h3>

                <p class="text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et.
                </p>
            </div>

            <div class="font-inter md:basis-[30%] space-y-[0.4rem] md:space-y-[0.9rem]" styl="border: 3px solid blue;">
                <h2 class="font-extrabold text-[72px]">5,321</h2>

                <h3 class="uppercase text-[20px] md:text-[32px] text-[#076ABB] font-bold">families empowered</h3>

                <p class=" text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et. Donec sodales eros est, in auctor orci
                    sagittis non.
                    Nulla congue interdum diam.
                </p>
            </div>
        </div>
    </section>

    <section 
    class="lg:flex lg:justify-between h-[44.3rem]  sm:h-[33rem] lg:h-[38rem] xl:h-[45rem] bg-[#EEF7FE] 
    pb-[2rem] md:pt-[3rem] lg:pt-[5rem] font-inter relative mb-[1rem]"
        styl="border: 4px solid blue;">
        <div class="lg:basis-[40%] lg:relative h-max" styl="border: 5px solid black;">
            <img src="{% static '/heartsandhands/media/home/rectangle_5745.png' %}" alt=""
            class="w-[144px] md:w-[251px]"
            >
            <img src="{% static '/heartsandhands/media/home/rectangle_5744.png' %}" alt="hands holding love"
                class="hidden lg:block lg:w-[550px] xl:w-[750px] lg:h-[400px] xl:h-[550px] lg:absolute top-[10px] left-[9px]">
        </div>

        <div class="lg:basis[56%] lg:basis-[56%] 2xl:basis-[50%] px-[1rem] md:px-[4rem] lg:px-[2.5rem]
         2xl:pr-[8rem] lg:pt-[2rem] space-y-[2rem] absolute lg:static top-[2rem] md:top-[7rem] lg:top[4rem]" 
        styl="border: 5px solid red;">
            <h2 class="text-[40px] xl:text-[64px] font-delaGothic font-[400] 
            leading-[3.3rem] xl:leading-[4.4rem]"
            >
            Our Mission at Hearts & Hands Humanitarian Foundation
        </h2>

            <p class="text-[#6D6D6D] text-[16px]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus risus
                rhoncus et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus
                nunc eleifend a. Curabitur viverra egestas metus vel congue. Nunc nisl lectus, interdum vel ex at,
                pharetra cursus risus.

            </p>

            <p class="text-[#6D6D6D] text-[16px]">
                Curabitur porttitor posuere arcu, vitae varius justo lobortis id. Donec mollis rhoncus libero vel
                aliquam. Pellentesque in urna massa. Nunc id dui nec nibh eleifend condimentum sit amet eget mauris. 
            </p>
        </div>

    </section>


    <section class="pt-[1.2rem] md:pt-[3rem] pb-[5rem] font-inter space-y-[3rem]">
        <div class="mdtext-center">
            <h2 class="text-center text-[32px] md:text-[64px] font-bold">How to Support</h2>
            <p class="text-text-color md:text-center px-[1rem]">
                Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus risus rhoncus
            </p>
        </div>

        <div class="space-y-[3rem] md:space-y-0 md:px-[1.3rem] lg:px-[5rem] 2xl:px-[12rem] md:flex 
        md:justify-between md:gap-[1.4rem] lg:gap-[3rem]"
            styl="border: 2px solid red;">
            <div
                class="volunteer px-[0.9rem] py-[16px] space-y-[1.3rem] border-[0.5px] border-[#C4C4C4] 
                rounded-[16px] md:basis-[50%] xl:basis-[47%]">
                <img src="{% static '/heartsandhands/media/home/handshake.png' %}" alt="">
                <h4 class="text-[32px] font-[700]">Volunteer</h4>

                <p class="text-text-color leading-[2rem]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus
                    risus
                    rhoncus et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed
                    maximus nunc eleifend a. Curabitur viverra egestas metus vel
                </p>

                <a href=""
                    class="block border-[0.5px] border-[#C4C4C4] rounded-[8px] text-center font-[500] text-#00000 py-[16px]">
                    Sign up to Volunteer
                </a>
            </div>

            <div
                class="donations px-[0.9rem] py-[16px] space-y-[1.3rem] border-[0.5px] border-[#C4C4C4] rounded-[16px] 
                md:basis-[50%] xl:basis-[47%]">
                <img src="{% static '/heartsandhands/media/home/donate.png' %}" alt="">

                <h4 class="text-[32px] font-[700]">Donations</h4>

                <p class="text-text-color leading-[2rem]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus
                    risus
                    rhoncus et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed
                    maximus nunc eleifend a. Curabitur viverra egestas metus vel
                </p>

                <a href="" class="block bg-[#076ABB] border-[0.5px] border-[#C4C4C4] rounded-[8px] text-center font-[500] 
                    text-#00000 text-white py-[16px]">
                    Donate
                </a>
            </div>

            <!-- <div
                class="volunteer px-[0.9rem] py-[16px] space-y-[1.3rem] border-[0.5px] border-[#C4C4C4] rounded-[16px]">
                <img src="{% static '/heartsandhands/media/home/share.png' %}" alt="">

                <h4 class="text-[32px] font-[700]">Share with friends</h4>

                <p class="text-text-color leading-[2rem]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus
                    risus
                    rhoncus et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed
                    maximus nunc eleifend a. Curabitur viverra egestas metus vel
                </p>

                <a href=""
                    class="block border-[0.5px] border-[#C4C4C4] rounded-[8px] text-center font-[500] text-#00000 py-[16px]">
                    Share
                </a>
            </div> -->
        </div>
    </section>

    <section class="lg:flex lg:justify-between mdLg:px-[7rem] lg:px-0 bg-[#f2f2f2] font-inter" styl="border: 4px dotted blue;">
        <div class="lg:basis-[55%] xl:basis-[50%] md:px-[2.4rem] lg:pl-[0.4rem] 2xl:px-[5rem] py-[1.9rem] md:py-[2.6rem]" 
        styl="border: 3px solid red;">
            <div class="mx-auto w-[90%]" styl="border: 3px solid yellow;">

                <h2 class="text-[32px] font-delaGothic">Contact Us</h2>
                <p class="text-[16px] text-text-color">
                    Curabitur porttitor posuere arcu, vitae varius justo lobortis id. Donec mollis rhoncus libero vel
                    aliquam. Pellentesque in urna massa.
                </p>

                <form action="" class="space-y-[1.3rem] mt-[2.5rem]" styl="border: 4px dashed blue;">
                    <div class="space-y-[0.2rem] " styl="border: 4px solid red;">
                        <label for="" class="block text-[#344054] text-[22px]">Name</label>
                        <input type="text"
                            class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]"
                            name="fullName" placeholder="Full name">

                    </div>

                    <div class="space-y-[0.2rem]">
                        <label for="" class="block text-[#344054] text-[22px]">Email</label>
                        <input type="text"
                            class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]" name="email"
                            placeholder="Example@xyz.com">

                    </div>

                    <div class="space-y-[0.2rem]">
                        <label for="" class="block text-[#344054] text-[22px]">Phone number</label>
                        <input type="text"
                            class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] py-[10px] px-[14px]"
                            name="phoneNumber" placeholder="+234 70 4589 751">

                    </div>

                    <div class="space-y-[0.2rem]">
                        <label for="" class="block text-[#344054] text-[22px]">Message</label>
                        <textarea class="w-full border-[1px] border-[#D0D5DD] rounded-[8px] resize-none" name="" id=""
                            cols="30" rows="7" placeholder="Leave us a message">
                    </textarea>
                    </div>

                    <button type="submit"
                        class="bg-[#076ABB] w-full px-[20px] py-[12px] text-white font-bold rounded-[8px]">
                        Send Message</button>
                </form>
            </div>
        </div>


        <!-- <div class="basis-[8%]"> -->
        <img src="{% static '/heartsandhands/media/home/phone.png' %}" alt=""
            class="lg:basis-[40% xl:basis-[50% w-[620px] 2xl:w-[820px] hidden lg:block">

        <!-- </div> -->
    </section>
</main>


{% include '_footer.html' %}

{% endblock content %}