{% extends '_base.html' %}
{% load static %}


{% block content %}

<main class="pt-[6rem]" styl="border: 2px dashed orange;">
    <section class="flex justify-between font-inter" styl="border: 2px dashed black;">
        <div class="basis-[45%] pl-[10rem] pt-[2.4rem] space-y-[2rem]" styl="border: 3px solid blue;">
            <h2 class="capitalize font-bold text-[2.7rem] leading-[3.3rem]">Lorem ipsum dolor sit amet</h2>

            <p class="mt-[1rem]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget
                dapibus risus
                rhoncus
                et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus nunc
                eleifend a. Curabitur viverra egestas metus vel congue.
            </p>

            <a href=""
                class="block bg-[#076ABB] text-white text-center font-[600] mt[1.2rem] rounded-[40px] w-[200px] py-[1rem]"
                style="border: 1px dotted green;">Make a donation</a>
        </div>

        <div class="basis-[50%] " styl="border: 3px solid red;">
            <img src="{% static '/heartsandhands/media/home/faces_of_children.png' %}" alt="faces of children"
                class="max-w-[700px] h-[510px] float-right">
        </div>
    </section>

    <section class="py-[4.4rem] px-16 space-y-8" styl="border: 3px dotted gray;">
        <h3 class="text-[#076ABB] text-[20px] font-semibold">OUR WORK SPEAKS...</h3>

        <div class="flex justify-between" styl="border: 3px dotted forestgreen;">
            <div class="font-inter basis-[30%] space-y-[0.9rem]" styl="border: 3px solid greenyellow;">
                <h2 class="font-extrabold text-[72px]">400</h2>
                <h3 class="uppercase text-[32px] text-[#076ABB] font-bold">kids enrolled in school</h3>

                <p class="text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et.
                </p>
            </div>

            <div class="basis-[30%] space-y-[0.9rem]" styl="border: 3px solid red;">
                <h2 class="font-extrabold text-[72px]">8x</h2>

                <h3 class="uppercase text-[32px] text-[#076ABB] font-bold">rural communities covered</h3>

                <p class="text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et.
                </p>
            </div>

            <div class="basis-[30%] space-y-[0.9rem]" styl="border: 3px solid blue;">
                <h2 class="font-extrabold text-[72px]">5,321</h2>

                <h3 class="uppercase text-[32px] text-[#076ABB] font-bold">families empowered</h3>

                <p class=" text-[#6D6D6D]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut luctus rhoncus neque, eget dapibus risus rhoncus et. Donec sodales eros est, in auctor orci
                    sagittis non.
                    Nulla congue interdum diam.
                </p>
            </div>
        </div>
    </section>

    <section 
        class="flex justify-between h-max bg-[#EEF7FE] pt-[5rem]  pb-[11rem] font-inter" 
        styl="border: 6px solid blue;"
    >
        <div class="basis-[40%] relative h-max" styl="border: 5px solid black;">
            <img src="{% static '/heartsandhands/media/home/rectangle_5745.png' %}" alt="">
            <img src="{% static '/heartsandhands/media/home/rectangle_5744.png' %}" alt="faces of children"
                class="max-w-[750px] h-[550px] absolute top-[10px] left-[9px]">
        </div>

        <div class="basis-[50%] pt-[4rem] pr-[8rem] space-y-[2rem]" styl="border: 5px solid red;">
            <h2 class="text-[64px] font-[700] leading-[4.4rem]">Our Mission at 3HFoundation</h2>

            <p class="text-[#6D6D6D]">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus rhoncus neque, eget dapibus risus
                rhoncus et. Donec sodales eros est, in auctor orci sagittis non. Nulla congue interdum diam, sed maximus
                nunc eleifend a. Curabitur viverra egestas metus vel congue. Nunc nisl lectus, interdum vel ex at,
                pharetra cursus risus.

            </p>

            <p class="text-[#6D6D6D]">
                Curabitur porttitor posuere arcu, vitae varius justo lobortis id. Donec mollis rhoncus libero vel
                aliquam. Pellentesque in urna massa. Nunc id dui nec nibh eleifend condimentum sit amet eget mauris. 
            </p>
        </div>

    </section>
</main>


{% endblock content %}