{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title> {% block title %} Hearts and hands {% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/heartsandhands/media/logo.png' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="box-border">
    <header class="flex justify-between pt-[1rem] md:pt-0 font-inter" styl="border: 2px solid gray">
        <div class="flex flex-col mdLg:flex-row mdLg:justify-between basis-[100%] pl-[0.7rem] md:pl-[3rem] 
        mdLg:pl-[5rem] space-y[8rem]" styl="border: 3px dashed lawngreen;">
            <a href="{% url 'home' %}"
                class="flex gap-[1rem] md:ml[2rem] xl:ml[6rem]  md:pt-[1rem] md:w-auto h- h-[72px]"
                styl="border: 3px solid #000000;">
                <img src="{% static '/heartsandhands/media/logo.png' %}" alt="3hf logo" class="h-[58px] w-[68px]">
                <div class="hidden mdLg:block capitalize font-delaGothic font-[400] text-[1rem]">
                    <span class="block">hearts & hands </span>
                    <span class="block">humanitarian foundation</span>
                </div>
            </a>

            <div class="hidden mdLg:flex mdLg:justify-between mdLg:basis-[80%] space-y-[-1.1rem]" id="navbar-list"
                styl="border: 4px solid chocolate;">
                <ul class="mdLg:flex mdLg:justify-evenly basis-[55%] py-6 capitalize text-[#6D6D6D] 
                leading-[3rem]" styl="border: 4px dotted blueviolet;">
                    <li>
                        <a href="{% url 'about_us' %}" styl="border: 4px dotted blue;">about us</a>
                    </li>

                    <li data-collapse-toggle="events-dropdown" class="cursor-pointer" styl="border: 2px solid saddlebrown;">
                        outreach
                        <svg class="w-[0.7rem] h-[0.7rem] ms-3 float-right relative top-[1rem] lg:top-[1.222rem]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                          </svg>
                        <div class="hidden -mt-[20px z-[1000]" id="events-dropdown" styl="border: 1px solid blueviolet;" styl="border: 3px solid blue;">
                            <ul class="text-[13px]">
                                <li class="px-[7px] lg:px-0 hover:text-[#076ABB]">
                                    <a href="{% url 'upcoming_events' %}" 
                                    class=""
                                        styl="border: 3px solid saddlebrown;">Upcoming </a>
                                </li>
    
                                <li class="px-[7px] lg:px-0 hover:text-[#076ABB]">
                                    <a href="{% url 'upcoming_events' %}" class=""
                                        styl="border: 3px solid saddlebrown;">Past</a>
                                </li>
    
                            </div>
                    </li>
                   


                    <li>
                        <a href="{% url 'donate' %}" styl="border: 4px dotted blue;">donations</a>
                    </li>

                    <li>
                        <a href="{% url 'contact_us' %}" styl="border: 4px dotted blue;">contact us</a>

                    </li>
                </ul>

                <div class="basis-[43.7%] mdLg:text-center py-9 bg-[{{bg_color}}] capitalize font-[650] mt[2rem]"
                    styl="border: 2px dashed #000000;">
                    <a href="{% url 'donate' %}" class="py-[12px] px-[32px] border-solid border-[1px] border-black 
                        rounded-[40px] bg-white w-full md:w-[50%] mdLg:w-auto inline-block">
                        donate now
                        <img src="{% static '/heartsandhands/media/donate_arrow.png' %}" alt="arrow"
                            class="inline w-[21.5px]">

                    </a>
                </div>
            </div>
        </div>

        <button data-collapse-toggle="navbar-list" type="button" class="inline-flex items-center mr-[0.7rem] md:mr-[2rem] mt-[0.7rem] md:mt-[1.7rem] p-2 w-10 h-10 justify-center text-sm text-gray-500 
            rounded-lg mdLg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
            aria-controls="navbar-list" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
    </header>

    {% block content %}


    {% endblock content %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>