{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title> {% block title %} Hearts and hands {% endblock title %}</title>
</head>

<body class="box-border">
    <header class="flex justify-around pt-0 font-inter" styl="border: 2px solid #9f1212;">


        <div class="flex justify-center basis-[65%] py-6" styl="border: 4px dotted red;">
            <div class="flex space-x-6 basis-[30%] justify-center" styl="border: 2px solid #000000;">
                <img  src="{% static '/heartsandhands/media/3hf_logo.png' %}"  alt="3hf logo" class="w-[35px]">
                <h3 class="font-bold">3HFoundation</h3>
            </div>

            <div class="flex justify-around basis-[50%] capitalize" styl="border: 2px solid blue;">
                <p>about us</p>
                <p>events</p>
                <p>donations</p>
                <p>contact us</p>
            </div>
        </div>

        <div class="basis-[35%] text-center py-6 bg-[#FCF7CC] capitalize font-[650]" styl="border: 2px solid #000000;">
            <a href="" class="py-[12px] px-[32px] border-solid border-[1px] border-black rounded-[40px] bg-white">
            donate now
            <img src="{% static '/heartsandhands/media/donate_arrow.png' %}" alt="arrow" 
            class="inline w-[21.5px]">

            </a>
        </div>
    </header>

    {% block content %}


    {% endblock content %}
</body>

</html>