{% load static %}

{% block content %}
<main class="bg-[#04355E] py-[3.7rem] px-[1rem] md:pl-[5rem] lg:px-[7rem] space-y-[3rem]" 
styl="border: 4px solid red;">
    <section class="lg:flex lg:justify-between font-inter space-y-[2.2rem] lg:space-y-0">
        <div class="text-[#EAECF0] md:pt-[3.08rem] font-bold lg:basis-[40%] 
        grid grid-cols-2 xl:flex xl:justify-around lg:order-last gap-[1rem]" 
        styl="border: 2px dotted white;">
            <a href="{% url 'about_us' %}" class="capitalize block w-[6rem]">about us</a>
            <a href="" class="capitalize block w-[6rem]">events</a>
            <a href="{% url 'donate' %}" class="capitalize block w-[6rem]">donations</a>
            <a href="{% url 'contact_us' %}" class="capitalize block w-[6rem]">contact us</a>
        </div>


        <div class="space-y-[0.55rem]" styl="border: 2px solid yellow;">
            <div class="space-y-[0.45rem]">
                <img src="{% static '/heartsandhands/media/3hf_logo.png' %}" alt="">
                <h3 class="text-white text-[1.3rem] block font-bold">Hearts & Hands Humanitarian Foundation</h3>
            </div>


            <p class="text-[#EAECF0]">Helping hands since 1805</p>
        </div>


    </section>

    <section class="border-t-[2px] border-solid border-[#3083C6] pt-[1.8rem]">
        <p class="text-[#EAECF0]">©2024 Hearts & Hands Humanitarian Foundation. All rights reserved.</p>
    </section>
</main>

{% endblock content %}