@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-\[\#FCF7CC\] {
  background-color: rgba(252, 247, 204, 1);
}

/* Utilities layer for classes that should always take precedence
 over any other styles. */
@layer utilities {
  .disabled {
    background-color: #999;
    cursor: not-allowed;
  }
}
