name: Database

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
  - cron: '0 0 * * *'

jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: FeuilleCiseaux/ftp-action@ftp_download
      with:
        host: ${{ secrets.FTP_SERVER }}
        user: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        localDir: "/home/runner/work/hearts-and-hands/hearts-and-hands/db"
        remoteDir: "public_html/hearts_and_hands/db"
    - name: List db files
      run: ls -lR db
