name: Deployment

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Upload
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          dry-run: true
          server: ftp.3hf.ngo
          username: it@3hf.ngo
          password: ${{ secrets.FTP_PASSWORD }}
          port: 21
          server-dir: public_html/hearts_and_hands/
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            .env
